

h1, h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}



.header {
    position: relative;
}

.header h1 {
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;
    width: 60%;
    margin: 0 auto;
    padding: 75px 0;
    font-size: 75px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.22);
    border: 5px solid #FFF;
}

.header h2 {
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    width: 35%;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #000;
    background-color: #FFF;
}

/*.grad {*/
    /*width: 100%;*/
    /*height: 10vw;*/
/*}*/

-- Navigation --
*   {
    margin: 0;
    padding: 0;
    font-family: Roboto, arial;
    /*font-size: 15px */
    position: fixed;
}


#wrapper {
    /*width: 25px;/
    /*height: 800px ;*/
    /*background-image: url("pictures/bg_picture.jpg");
    /*background-repeat: no-repeat;*/
    /*background-position: left top;*/
    background-size: cover;
    position: relative;
    font-size: 16px;
}

/*zdjecie*/

    .zdjecie {
        width: 100vw;
        margin: auto;
        margin-top: 0;
        height: 40vw;
    }

    .bg {
        margin:-5px;
    }







h1  {
    color: green;
    font-size: 30px;
    text-shadow: 0 4px 8px grey;

}

.home {
    padding: 10px 30px;
    height: auto;
    width: 50%;
    /*background-color: white;*/
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-75%, -35%);
    /*background-color: rgba(0, 0, 0, 0.20);*/
    text-shadow: 0 4px 8px black;
}

.logo {
    width: 200px;
    height: auto;
    background: url('pictures/logo.png');
}

article {
    margin: 10px 0 20px 0;
    color: white;
    padding: 10px 10px;
    font-size: 2.8em;
    font-family: 'Ubuntu', Arial;
}



footer  {
    background-color:black;
    height: 140px;
    color: white;
    text-align-last: center;
    padding: 10px;
    margin-bottom: 30px;
}


.navigation {
    position: fixed;
    left: 0;
    right: 0px;
    padding: 0px 270px;
    height: 7em;
    background-color: black;
    margin-bottom: 1px;
    /*width: auto;*/
    /*heigh: 30px;*/
    /*background: -webkit-radial-gradient(center, ellipse cover,  #3a383d 0%,#000000 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: radial-gradient(ellipse at center,  #3a383d 0%,#000000 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=‘#3a383d ’, endColorstr=‘#000000 ’,GradientType=1 ); !* IE6-9 fallback on horizontal gradient *!*/

}

.ch-grid {
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;

}

.ch-grid:after, .ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid {
    display: inline-block;
}

.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    cursor: default;
}

.ch-info-wrap, .ch-info{
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 30%;
}

.ch-info-wrap {
    top: 25px;
    left: 20px;
    box-shadow: 0 0 0 10px rgba(255,255,255,0.2), inset 0 0 3px rgba(115,114, 23, 0.8);
}

.ch-info > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;
    -webkit-backface-visibility: hidden;
}

.ch-info .ch-info-front {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-back {
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 0.4s ease-in-out 0.2s;
    -moz-transition: all 0.4s ease-in-out 0.2s;
    -o-transition: all 0.4s ease-in-out 0.2s;
    -ms-transition: all 0.4s ease-in-out 0.2s;
    transition: all 0.4s ease-in-out 0.2s;
}

.ch-item:hover .ch-info-front {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
}

.ch-item:hover .ch-info-back {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.ch-info-front i.fa {
    font-size: 50px;
    padding-top: 15px;
    color: #FFF;
}

.ch-info-back h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 40px;
}

.ch-info-back h3 a {
    color: #FFF;
}

.ch-info-back h3 a:hover {
    color: lawngreen;
}

#footer
{
    background-color: black;
    margin-top: 0.5px;
}

#footer label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #555555;
    position: center;
    width: 80%;
    margin-top: 15px;
    background-color: black;
}

#footer input {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 40;
    width: 60%;
    display:block;

}
#footer input#submit {
    width: 200px;
    cursor: pointer;
    margin-bottom: 55px;
    float: left;
    margin-top: 50px;

}

.produkt {
    background-color: black;
    height: auto;
    width: auto;
    padding-top: 100px;
    padding-bottom: 150px;
    font-family: 'Ubuntu', sans-serif;
    color: darkgrey;
}

.aboutus {
    background-color: lightgrey;
    height: auto;
    width: auto;
    padding-top: 100px;
    padding-bottom: 150px;
    margin-top: 1.5px;
    font-size: 1.1em;
    font-family: 'Ubuntu', sans-serif;
}

h3 {
     color: white;
     font-size: 1.2em;
}

.imgau {
    height: 300px;
    width: auto;
    margin: 0px auto;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    border: 3px solid white;
    margin-top: 1.5px;
    font-family: 'Ubuntu', sans-serif;
}

.form {
    background-color: white;
    /*height: auto;*/
    /*width: auto;*/
    padding-top: 40px;
    padding-bottom: 40px;
    color: dimgrey;
    font-family: 'Ubuntu', sans-serif;
    text-align: right;
}

