#container {
    background-image: url('postbox.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: auto;
    display: block;
    height: 950px;
    border-radius: 25px;
}

h1 {
    text-align: center;
    font-style: oblique;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

img {
    max-width: 150px;
    height: auto;
}

.img {
    text-align: left;
    color: #000000;
    font-style: italic;

}

.teamphoto {
    height: auto;
    width: 100%;
    padding: 1em;
    display: table;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.user {
    text-align: center;
    display: table-cell;
    width: auto;
    min-width: 200px;

}

.address {
    text-align: left;
}

footer {
    background-color: #5e5e5e;
    border-radius: 25px;
}

section {
    background-color: white;
    height: auto;
    width: 70%;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    padding: 10px, 30px;
}

.address {
    text-align: center;
}