
.heading {
    text-align: center;
}

h1, h2, h3, h4, p {
    text-align: center;
    color: black;
}

footer {
    background-color: #5e5e5e;
    border-radius: 25px;
}

#container {
    background-image: url('postbox.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: auto;
    display: block;
    height: 950px;
    border-radius: 25px;
}

section {
    background-color: white;
    height: auto;
    width: 50%;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    padding: 10px, 30px;
}

.about-us {
    text-align: center;
}

ul {
    color: white;
}